[submodule "2015/Day19/c/hashmap"]
	path = 2015/Day19/c/hashmap
	url = https://github.com/DavidLeeds/hashmap.git
[submodule "2022/Day17/c/hashmap"]
	path = 2022/Day17/c/hashmap
	url = https://github.com/DavidLeeds/hashmap.git
[submodule "2024/Day11/c/hashmap"]
	path = 2024/Day11/c/hashmap
	url = https://github.com/DavidLeeds/hashmap
[submodule "2024/Day19/c/hashmap"]
	path = 2024/Day19/c/hashmap
	url = https://github.com/DavidLeeds/hashmap
[submodule "2025/Day10/c/hashmap"]
	path = 2025/Day10/c/hashmap
	url = https://github.com/DavidLeeds/hashmap/
